body{
    min-height: 10000px;
    margin: 0;
}
.main-container{
    width: 100%;
    margin: 0 auto;
}

.header-split{
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.header-left{
    background: url('https://images.pexels.com/photos/3222421/pexels-photo-3222421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-color: #E5E5E5;
    color: #974040;
    width: 50%;
    font-weight: bold;
    position: relative;
    background-size: cover;
}

.header-right{
    position: relative;
    width: 50%;
    background-color: #974040;
    color: #E5E5E5;
    font-weight: bold;
}
.header-right h1{
    font-size: 188px;
    margin: 0;
    text-align: left;

}
.header-title{
    position: relative;
}

.separator-line{
    background-color: #974040;
    width: 300px;
    height: 65px;
    position: absolute;
    bottom: -70px;
    right: -80px;
}

.header-right p{
    margin: 0;
    left: 20px;
    font-size: 92px;
    text-align: left;
    position: absolute;
    bottom: 30%;
}

.header-left h1{
    font-size: 188px;
    margin: 0;
    text-align: right;

}

.header-left p{
    margin: 0;
    font-size: 92px;
    right: 20px;
    text-align: right;
    position: absolute;
    bottom: 30%;
}

.header-content{
    margin: auto 20px; 
}